* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size:  "Malgun Gothic", sans-serif;
}
body, html {
	font-family: "Malgun Gothic", sans-serif;
    color: #000;
    font-size: 16px;
    min-width: 1264px;
}
.wrap {
	background-color: white;
	height: 100vh;
}
.flex {
	display: flex;
}
.container {
	display: block;
	background-color: white;
	width: 590px;
	height: 840px;
	border: 1px solid #d9d9d9;
	position: relative;

}
.justify-content {
	justify-content: center;
}
.align-items {
	align-items: center;
}
.title {
	color: #4c4c4c;
	font-size: 35px;
	margin-top: 35px;
	text-align: center;
	font-weight: bold;
}
.container input {
	height: 20px;
	width: 20px;
}
.checkmark1 {
	position: abosolute;
	top: 0;
	left: 0;
	height: 20px;
	width: 20px;
	background-color: white;
	margin-top: 43px;
	margin-left: 66px;
}
.container:hover input ~ .checkmark {
	background-color: #fff;
}
.container input:checked ~ .checkmark {
	background-color: #2196f3;
}

.container input:checked ~ .checkmark:after {
	display: block;
}

.checkbox {
	display: block;
	position: relative;
	height: 22px;
	width: 22px;
	border: 1px solid #d9d9d9;
	border-radius: 3px;
	cursor: pointer;
	font-size: 16px;
	margin-left: 67px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.checkbox input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #eee;
}
.checkbox:hover input ~ .checkmark {
	background-color: #ccc;
}
.checkbox input:checked ~ .checkmark {
	background-color: #001976;
}
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}
.checkbox input:checked ~ .checkmark:after {
	display: block;
}
.checkbox .checkmark:after {
	left: 4px;
	top: 4px;
	width: 5px;
	height: 10px;
	border: 2px solid white;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(-45deg);
	opacity: 0;
}
.text1 {
	margin-left: 5px;
}
.smallbox {
	width: 467px;
	height: 477px;
	border: 1px solid #d9d9d9;
	border-radius: 3px;
	background-color: white;
	margin-top: 20px;
	margin-left: 65px;
}
.nq-policy-item .nq-item-head {
	position: relative;
	padding: 26px 38px 36px 18px;
}
.a-center {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.nq-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.nq-check-all .nq-policy-item .nq-lbl {
	margin-right: 6px;
}
.nq-lbl {
	position: relative;
}
button, a, .nq-link {
	cursor: pointer;
}
label {
	cursor: default;
}
input[type="checkbox"] {
    cursor: pointer;
}
input[Attributes Style] {
    display: none;
}
input[type="checkbox" i] {
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 3px 3px 3px 4px;
    padding: initial;
    border: initial;
}
.nq-checkbox {
    position: relative;
    height: 22px;
    width: 22px;
    display: block;
    border-radius: 3px;
    border: 1px solid #d9d9d9;
    cursor: pointer;
}
.mr-5 {
    margin-right: 5px !important;
}
.checkmark4 {
	margin-left: 18px;
	color: #191919;
	font-size: 15px;
	margin-top: 27px;
}
.scrollbox {
	display: block;
	background-color: #f8f8f8;
	width: 465px;
	height: 179px;
	border: 1px solid #d9d9d9;
	overflow-x: hidden;
	overflow-y: scroll;
	margin-top: 27px;
	white-space: pre-wrap;
	color: #757575;
	padding: 25px;
}
.checkmark5 {
	margin-left: 18px;
	color: #191919;
	font-size: 15px;
	margin-top: 25px;
}
.checkmark6 {
	margin-left: 18px;
	color: #191919;
	font-size: 15px;
	margin-top: 52px;
}
.checkmark7 {
	margin-left: 18px;
	color: #191919;
	font-size: 15px;
	margin-top: 52px;
}
.button1 {
	width: 456px;
	height: 55px;
	background-color: #2e47a3;
	margin-top: 55px;
	margin-left: 66px;
	border: 1px solid #2e47a3;
	border-radius: 5px;
	color: white;
	font-size: 18px;
	text-align: center;
	font-weight: bold;
}

.nq-policy-item .nq-item-head .nq-uparrow {
	position: absolute;
	top: 22px;
	right: 8px;
	padding: 4px 10px;
	cursor: pointer;
	transform: rotate(90deg);
}
.nq-policy-list .nq-policy-item.active .nq-uparrow {
	transform: rotate(-90deg);
}
.nq-policy-item .nq-item-head .nq-uparrow img {
	width: 7px;
	height: auto;
}
.nq-policy-item: active {
	transform: rotate(90deg);
}